Source: jtransforms
Section: java
Priority: extra
Maintainer: Zbigniew Jędrzejewski-Szmek <zbyszek@in.waw.pl>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://sites.google.com/site/piotrwendykier/software/jtransforms
#Vcs-Svn: https://jtransforms.svn.sourceforge.net/svnroot/jtransforms/trunk
Vcs-Git: git://escher.fuw.edu.pl/git/jtransforms
Vcs-Browser: http://escher.fuw.edu.pl/git/jtransforms

Package: libjtransforms-java
Architecture: all
Depends: ${misc:Depends}
Description: Java library for FFT calculcations
