Source: jtransforms
Section: java
Priority: optional
Maintainer: Zbigniew Jędrzejewski-Szmek <zbyszek@in.waw.pl>
Build-Depends: debhelper (>= 8.0.0), ant, openjdk-6-jdk | java5-sdk
Standards-Version: 3.9.2
Homepage: http://sites.google.com/site/piotrwendykier/software/jtransforms
#Vcs-Svn: https://jtransforms.svn.sourceforge.net/svnroot/jtransforms/trunk
Vcs-Git: git://escher.fuw.edu.pl/git/jtransforms
Vcs-Browser: http://escher.fuw.edu.pl/git/jtransforms

Package: libjtransforms-java
Architecture: all
Depends: ${misc:Depends}
Description: Multithreaded FFT library written in pure Java
 JTransforms is an multithreaded FFT library
 written in pure Java. Provides:
  - Discrete Fourier Transform (DFT),
  - Discrete Cosine Transform (DCT),
  - Discrete Sine Transform (DST) and
  - Discrete Hartley Transform (DHT).
 The code is derived from General Purpose FFT Package written
 by Takuya Ooura and from Java FFTPack written by Baoshe Zhang.
